.rootCon{
	display: flex;
	background-color: black;
	height: 100vh;
	width: 100vw;
	color: white;
}
#sidebar {
  position: fixed;
  width: 0;
  max-width: 14em;
  height: 100%;
  background: black;
  /*#151719;*/
  right: 0;
  top: 0;
  padding: 7em .5em;
  transition: 0.5s;
}
#sidebar.active {
  right: 0px;
}
#sidebar ul li {
  color: white;
  list-style:none;
  font-weight: 200;
  font-size: 1.3em;
  /*padding: 15px 10px;
  border-bottom: 1px solid rgba(100,100,100,0.3);*/
  margin: 2em;
  
}
.toggle-btn {
  position: absolute;
  right: 4%;
  top: 5%;
  z-index: 4;
}
.toggle-btn span {
  display: block;
  width: 40px;
  height: 5px;
  background: red; 
  /*#151719;*/
  margin: 6px 0px;
}

#sidebar a{
	transition: 0.3s;
}

#sidebar a:hover{
	color: red;
}

.cancel {
  position: absolute;
  left: 4%;
  top: 5%;
  z-index: 4;
}
.cancel span {
  display: block;
  width: 40px;
  height: 5px;
  background: red; 
  /*#151719;*/
  margin: 6px 0px;
}
.cancel span::before{
	position: absolute;
	height: .2em;
	width:10em;
	content: '';
	transform: translateY(-.7em);
	transition: background .5s,transform .5s,-webkit-transform .5s;
}

.cancel span::after{
	content: '';
	transform: translateY(.7em);
	transition: background .5s,transform .5s,-webkit-transform .5s;

}