.rootContainer{
  text-align:justify;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #FFFFFF;  
}
.nintel-background{
  width: 100%;
  height: 100vh;
  background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url('./media/background1.png') center center no-repeat;  
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;

}
.nintel-header{  
  width: 100%;
  bottom:10%;
  padding: 0 4%;
  position: absolute;

}
.nintelLogo{
  width: 150px;
  float: left;
  height: 150px;
}
.nintelTitle{
  text-align: right;
}
.projectType{
  font-size: 3vw;
  color: #F48729;
  margin: 0;
  padding: 0;
}
.projectName{
  font-size: 4vw;
  font-weight: 500;
  color: white;
  padding: 0;
}
.nintelDesc1{
  width: 100%;
  background-color: lightgray;
  text-align: justify;
  margin: 0;
  padding: 5% 20%;

}
.nintelDesc1 h1{
  padding: 4%;
  text-align: center;
  color: #F48729;

}

.nintelDesc1 p{
  padding: 0;
  text-align: justify;
  font-size: 120%;
}

.nintelDesc2{
  width: 100%;
  background-color: lightgray;
  text-align: justify;
  margin: 0;
  padding: 5% 20%;
}

.nintelDesc2 h2{
  text-align:center;
  padding-bottom: 2%; 
  font-weight: 550; 
}

.nintelDesc2 p{
  text-align:justify;
  font-size: 120%;
}

.nintelDesc3{
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  /*text-align: justify;*/
  padding: 5% 6%;
}

.nintelDesc3 h2{
  text-align:justify;
  padding-bottom: 2%; 
  font-weight: 550; 
}

.nintelDesc3 p{
  text-align:justify;
  font-size: 120%;
}
.split-left{
  flex: 50%;
  padding: 5%;
}
.split-right{
  flex: 50%;
  padding: 5%;
}
/*.imgs{
  flex: 25%;
  max-width: 25%;
}*/
.split-right img{
  width: 50%
}

@media screen and (max-width: 600px){
  .split-right img{
    flex: 100%;
    width: 100%;
  }
}
.nintelDesc4{
  width: 100%;
  background-color: #F48729;
  display: flex;
  flex-wrap: wrap;
  padding: 5% 6%;
}

.phoneDesc{
  flex:50%;
}
.phoneDesc img{
  width:100%;
}
.phoneDesc2{
  flex:50%;
}
.phoneDesc2 img{
  width:100%;
}

.nintelDesc5{
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  padding: 5% 6%;
}

.phoneDesc3{
  flex:50%;
}
.phoneDesc3 img{
  width:100%;
}
.phoneDesc4{
  flex:50%;
}
.phoneDesc4 img{
  width:100%;
}
.nintelDesc6{
  width: 100%;
  background-color: #F48729;
  display: flex;
  flex-wrap: wrap;
  padding: 5% 6%;
}

.phoneDesc5{
  flex:50%;
}
.phoneDesc5 img{
  width:100%;
}
.phoneDesc6{
  flex:50%;
}
.phoneDesc6 img{
  width:100%;
}

.nintelDesc7{
  width: 100%;
  background-color: lightgray;
  text-align: justify;
  margin: 0;
  padding: 5% 20%;
}
/*.firebase{
  width: 50% 

}
.androidlogo{
  width: 50%
}
.androidstudiologo{
  width: 50%
}
.googlemapslogo{
   width: 50%
}*/
